.name {
	font-family: 'Lobster', cursive;
	font-size: 60px;
}

.links {
	
}

a {
	color: black;
	underline: none;
		
}

a:hover {
	color: orange;
}

.ref {
	position: absolute;
	font-size: 10px;
	bottom: 2%;
}

body {
	background-image: url("background.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

.all {
	margin-left: 5%;
	margin-top: 5%;
	width: 330px;
	height: 150px;
	padding: 15px;
	
}


p{
  color: black; 
  font-family: "Courier";
  font-size: 20px;
  margin: 10px 0 0 10px;
  white-space: nowrap;
  overflow: hidden;
  width: 30em;
  animation: type 2s steps(30, end); 
}

p:nth-child(2){
  animation: type2 8s steps(60, end);
}

p a{
  color: black;
  text-decoration: none;
}


@keyframes type{ 
  from { width: 0; } 
} 

@keyframes type2{
  0%{width: 0;}
  50%{width: 0;}
  100%{ width: 100; } 
} 


