.name {
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size: 60px;
	color: white;
}

a{
	color: white;
	margin-left: 10px;
	margin-right: 10px;
	text-decoration: none; 
}

.name:hover{
	animation: change 2s infinite; 
}

.name:not( :hover ){ 
	transition: all .6s ease;
	opacity: 1;
}

i:hover {
	transition: all .6s ease;
	opacity: .8;
	color: #00e600;
	-webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

i:not( :hover ){ 
	transition: all .6s ease;
	opacity: 1;
	color: whitesmoke;
	-webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

#wrap {
	margin: 0 auto;
	display: none;
	width: 65%;
	min-width: 230px;
	height: 60vh;
	margin-top: 19%;
	text-align: center;
}

.links{
	position: relative;
	margin-top: 7vh;
	content: center;
}

#wip{
  color: white; 
  font-size: 20px;
  white-space: nowrap;
  overflow: hidden;
  width: 30em;
  animation: change 2s infinite; 
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

@keyframes change{ 
  0%{color: #ffff00;}
  33% {color: red;}
  66% {color: cyan;}
  100% {color: #ffff00;}
} 

#loading {
	display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    background-color: #f4f4f4;
    background-repeat: no-repeat;
    background-position: center;
}

.loader {
	max-width: 50%;
	background-color: whitesmoke;
    border-radius: 100%;
    width: 90px;
    height: 93px;
    animation: load 1s linear infinite;
    margin: 0 auto;
}

@keyframes load {
    50% { background: gray;
    width: 120px;
    height: 20px;}
    75% {background: gray;}
    100% { transform: rotate(360deg);}
}

body {
	width: 50wh;
	height: 50vh;
	overflow-x: hidden;
	overflow-y: hidden;
	background: linear-gradient(45deg, blue, #229173, blue, #229173, blue);
	background-size: 600% 600%;
	-webkit-animation: gradient 14s ease infinite;
	-moz-animation: gradient 14s ease infinite;
	animation: gradient 14s ease infinite;
}

@-webkit-keyframes gradient {
	0% {
		background-position: 0% 0%
	}
	50% {
		background-position: 70% 0%
	}
	100% {
		background-position: 0% 0%
	}
	
}

@-moz-keyframes gradient {
	0% {
		background-position: 0% 0%
	}
	50% {
		background-position: 70% 0%
	}
	100% {
		background-position: 0% 0%
	}
}

@keyframes gradient {
	0% {
		background-position: 0% 0%
	}
	50% {
		background-position: 70% 0%
	}
	100% {
		background-position: 0% 0%
	}

}

