.name {
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size: 80px;
	color: white;
	position: relative;
	top: -15px;
}

a{
	color: white;
	margin-left: 10px;
	margin-right: 10px;
	text-decoration: none; 
}

.name:hover{
	transition: all .6s ease;
	opacity: .8;
	color: #00e600;
}

.name:not( :hover ){ 
	transition: all .6s ease;
	opacity: 1;
	color: whitesmoke;
}

i:hover {
	transition: all .6s ease;
	opacity: .8;
	color: #00e600;
	-webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

i:not( :hover ){ 
	transition: all .6s ease;
	opacity: 1;
	color: whitesmoke;
	-webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

#wrap {
	margin: 0 auto;
	display: none;
	text-align: center;
	height: 100vh;
	margin-top: 25vh;
}

.links{
	position: relative;
	margin-top: 4vh;
	content: center;
}

#z {
	margin-top: 10vh;
}

#wip{
  color: greenyellow !important;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 24px;
  <!-- animation: change 2s infinite; -->
  position: absolute;
}

@keyframes change{ 
  0%{color: #ffff00;}
  33% {color: red;}
  66% {color: cyan;}
  100% {color: #ffff00;}
} 

#loading {
	display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    background-color: #f4f4f4;
    background-repeat: no-repeat;
    background-position: center;
}

.loader {
	max-width: 50%;
	background-color: whitesmoke;
    border-radius: 100%;
    width: 90px;
    height: 93px;
    animation: load 1s linear infinite;
    margin: 0 auto;
}

@keyframes load {
    50% { background: #00cc7a;
    width: 120px;
    height: 20px;}
    75% {background: #1a75ff;}
    100% { transform: rotate(360deg);}
}

html {
	margin: 0;
	width: 50wh;
	height: 100vh;
	overflow-x: hidden;
	overflow-y: hidden;
	background: linear-gradient(45deg, #00cc7a, #1a75ff, #00cc7a);
	background-size: 500% 500%;
	-webkit-animation: gradient 15s ease-in-out infinite;
	-moz-animation: gradient 15s ease-in-out infinite;
	animation: gradient 15s ease-in-out infinite;
}

body {
	background-color: transparent !important;
}


@-webkit-keyframes gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
	
}

@-moz-keyframes gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}

}
